fastapi
uvicorn
sqlalchemy
aiomysql
cryptography
python-jose
bcrypt
passlib
scikit-fuzzy
scipy
numpy
python-dotenv
pydantic
email-validator
python-multipart
packaging
networkx
pymysql
greenlet
cryptography
